


li a {
    color: white !important
}
.banner{
    background: url("../img/hero.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.btn-color{
    color: white;
    background-color: #1E456A;
    transition: all ease-in-out .3;
    &:hover{
        background-color: transparent;
        border: solid 2px #1E456A;
        border-radius: 10px;
    }
}
.row
{
    position: relative;
}

.hero span{
    font-weight: 900;
}
.hero{
   align-items: flex-end;
   margin-top: 250px;
}
.wh-100{
    width: 100px;
}
.m-8{
    margin: 8px;
}
nav{
    position: fixed !important;
    top: 0;
}
.vector{
    width: 100%;
    margin-top: 100vh;}